.body {
    /* Add a linear gradient to the body */
    background: linear-gradient(to right, rgb(128, 0, 128), rgb(172, 86, 233), rgb(233, 168, 233));
    align-items: center;
    background-image: url(./images/back.png);
    background-repeat: repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}
.btn{
    background-color: rgb(147, 13, 147);
    color: aliceblue;
    font-weight: 600;
}
.card-body{
    /* background: linear-gradient(rgb(101, 199, 244), rgb(211, 
    186, 96));
    */
    background: linear-gradient(rgba(0, 36, 54, 0.736), rgba(134, 91, 0, 0.32));
    border-radius: 19px;
    box-shadow: 0 8px 32px 0 rgba(0, 102, 255, 0.37);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255,255,255,0.3);
    
    
    
}

.h1tag{
    color: aliceblue;
}

#temperature{
    font-size: 3.5rem;
    font-weight: bold;
    
}
.color-tag{
    color: aliceblue;
    font-size: 1.5rem;
    font-weight:300;
    margin-top: 2px;
    
    margin-bottom: 2px;
    
    
}
#name-h-tag{
    color: aliceblue;
}
