.body {
    /* Add a linear gradient to the body */
    background: linear-gradient( rgb(18, 18, 18), rgb(75, 75, 75));
    align-items: center;
    


    
}
* {
    padding: 0;
    margin: 0;
}
svg {
    position: fixed;
    top: 0;
    left: 0;
width: 100%;
height: 100%;
    box-sizing: border-box;
    display: block;
    background-color: linear-gradient( rgb(18, 18, 18), rgb(75, 75, 75));
background-image:  linear-gradient( rgb(18, 18, 18), rgb(75, 75, 75));
}
.btn{
    background-color: rgb(147, 13, 147);
    color: aliceblue;
    font-weight: 600;
}
.card-body{
    /* background: linear-gradient(rgb(101, 199, 244), rgb(211, 
    186, 96));
    */
    background: linear-gradient(rgba(0, 36, 54, 0.736), rgba(0, 1, 16, 0.32));
    border-radius: 19px;
    box-shadow: 0 8px 32px 0 rgba(0, 102, 255, 0.37);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255,255,255,0.3);
    
    
    
}

.h1tag{
    color: aliceblue;
}

#temperature{
    /* font-size: 3.5rem; */
    /* font-weight: bold; */
    margin: 0px;
    padding: 0px;
    border: 0px;
    
}
.color-tag{
    color: aliceblue;
    font-size: 1.5rem;
    font-weight:300;
    margin-top: 0px;
    
    margin-bottom: 0px;
    
    
}
#name-h-tag{
    color: aliceblue;
}


#text-box{
    
        background-image: url("https://icons8.com/icon/3723/location");
        background-repeat: no-repeat;
        /* padding-left: 30px;  */
    
    
}
#condition-text{
    font-size: 15px;
}
.glass-border {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    backdrop-filter: blur(10px);
    padding-top: 10px;
  }
  .container {
    display:flexbox;
    justify-content: center;
    align-items: center;
  }
  